---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

 
  <nav class="purple accent-3">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left" onclick="openNav()">{SiteName}</a>
      <ul id="nav-mobile" class="right ">

        <li><a  onclick="openNav()"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
    <ul id="slide-out" class="sidenav">
     
 
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        
    
    </ul>

  
<slot/>

    <!-- Compiled and minified JavaScript -->
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="module">
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            M.Sidenav.init(elems);
        });

        function openNav() {
            var instance = M.Sidenav.getInstance(document.querySelector('.sidenav'));
            instance.open();
        }
    </script>

    <footer>
        <div class="footer-copyright">
            <div class="container">
            © 2024 zorg tech
            </div>
          </div>
        </footer>

</body>
</html>
